@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

$darkblue: rgb(0, 71, 113);
$blue: rgb(145, 204, 241);
$beige: rgb(253, 253, 223);
$lightgray: rgb(170, 186, 204);
$gray: rgb(111, 121, 133);
