@import '../App/globals';

.Chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  h1,
  h2 {
    text-align: center;
    color: $beige;
    text-shadow: -5px 5px 5px black;
    letter-spacing: 5px;
  }
}

.Container {
  display: flex;
  justify-content: center;
  margin: 3rem 3rem 0 3rem;
}

.UserMessages {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 60rem;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.3);
  height: 30rem;
  color: $beige;
  text-align: right;
  box-shadow: -5px 5px 10px black;

  .Left {
    align-self: flex-start;
  }

  .User {
    color: $gray;
    text-align: right;
  }
}

.ContainerTyping {
  display: flex;
  margin: 3rem 3rem 0 3rem;
}

.Typing {
  display: flex;
  justify-content: space-between;
  height: 6rem;
  width: 25rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  box-shadow: -5px 5px 10px black;

  button {
    height: 6rem;
    width: 4rem;
    border: none;
    color: $beige;
    background-color: $gray;
    cursor: pointer;

    &:active {
      transform: translate(-1px, 2px);
    }
  }

  textarea {
    width: 95%;
    background-color: transparent;
    color: $beige;
    border: none;
    outline: none;
    resize: none;
  }
}

.SystemContainer {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem 0.2rem 0.5rem;
  margin-left: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  width: 20rem;
  height: 6rem;
  box-shadow: -5px 5px 10px black;
  overflow: scroll;

  .SystemMessage {
    color: $lightgray;
    margin-bottom: 0.3rem;
  }
}
